
@{
    ViewBag.Title = "Index";
}

<div>
    <h1>Capture marker movements</h1>
    <form method="post">
        <div>
            <button type="button" id="startProcessing" class="btn btn-primary">Start capture</button>
        </div>
    </form>
</div>

<div id="downloadVideoBlock" style="display: none">
    <hr />
    <a id="lnk-download">Download video</a>
</div>

@section scripts
{
<script>
    $(function () {
        $('#startProcessing').click(function () {
            $.post("/Home/StartProcessing", {}).then(function (data) {
                $('#lnk-download').attr('href', '/Home/DownloadVideo/' + data.videoId);
                $('#downloadVideoBlock').show();
            });
        });        
    });
</script>
}