
@{
    ViewBag.Title = "Index";
}

<div>
    <h1>Capture marker movements</h1>
    <form method="post">
        <div>
            <button type="submit" class="btn btn-primary">Start capture</button>
        </div>
    </form>
</div>
