
@{
    ViewBag.Title = "Index";
}

<div>
    <h1>Capture marker movements</h1>
    <form method="post">
        <div>
            <button type="button" id="startProcessing" class="btn btn-primary">Start capture</button>
        </div>
    </form>
</div>

@section scripts
{
<script>
    $(function () {
        $('#startProcessing').click(function () {
            $.post("/Home/StartProcessing", {}, function (data) {
                //do whatever with the response

            });
        });        
    });
</script>
}