
@{
    ViewBag.Title = "Index";
}

<div style="margin-bottom: 30px">
    <h1>Capture marker movements</h1>
    <form method="post">
        <div>
            <button type="button" id="startProcessing" class="btn btn-primary">Start capture</button>
        </div>
    </form>
</div>

<h2>Log</h2>
<div id="log" style="height: 400px; overflow: auto"></div>

<div id="downloadVideoBlock" style="display: none">
    <hr />
    <a id="lnk-download">Download video</a>
</div>

@section scripts
{
<script>
    $(function () {
        $('#startProcessing').click(function () {
            var procComplete = false;
            var videoId = uuidv4();
            $.post("/Home/StartProcessing", {
                videoId: videoId
            }).then(function (data) {
                $('#lnk-download').attr('href', '/Home/DownloadVideo/' + data.videoId);
                $('#downloadVideoBlock').show();
                procComplete = true;
            });

            renderLog(videoId);

            function renderLog(videoId) {
                if (!procComplete) {
                    $.post("/Home/GetLog/", { videoId: videoId }).then(function (data) {
                        if (data && data.log) {
                            $('#log').html(data.log);
                            $('#log').scrollTop($('#log').prop("scrollHeight"));
                        }
                        setTimeout(function () {
                            renderLog(videoId);
                        }, 300);
                    });
                }
            }
        });        
    });
    
    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }
</script>
}