@model IEnumerable<Example.CaptureMapMarkerMovements.Models.Waypoint>

@{
    ViewBag.Title = "";
    Layout = null;
    string jsonData = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .overlay {
            border: 1px solid #000;
            background-color: #fff;
            text-align: center;
            padding: 5px;
            margin-bottom: 15px;
        }
    </style>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
</head>
<body style="padding: 0; margin: 0">

    <div id="map" class="map" style="width: 1024px; height: 768px;"></div>
    <div style="display: none">
        <div id="completestate">not started</div>
        <div id="input-data">@jsonData</div>
        <div id="overlay" class="overlay"></div>
    </div>

    @Scripts.Render("~/bundles/map-logic")
</body>
</html>
